<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.easy.dao.SendDao">

    <insert id="addPersonnelChatTemporary" parameterType="com.communication.entity.PersonnelChatTemporary"   >
        INSERT INTO personnel_chat_temporary (cid, pgid, personnel_id, chat_data, create_by)  VALUES (#{cId},#{pgId},#{personnelId}, #{chatData}, #{createBy})
    </insert>

    <insert id="addPersonnelChat" parameterType="com.communication.entity.PersonnelChat"   >
        INSERT INTO `personnel_chat` (cid, pgid, personnel_id, chat_data, create_by)  VALUES (#{cId},#{pgId},#{personnelId}, #{chatData}, #{createBy});
    </insert>




    <select id="findByGroupId" parameterType="String" resultMap="GroupBaseResultMap">
        select * from personnel_group  where pgid=#{pgid};
    </select>




    <select id="findByGroupIdDetails" parameterType="String" resultMap="GroupIdDetailsBaseResultMap">
        select * from personnel_group_details   where pgid=#{pgId};
    </select>



    <select id="finbyAll"  resultMap="PersonnelChatTemporarysBaseResultMap">
        select * from personnel_chat_temporary ;
    </select>


    <delete id="deletePersonnelChatTemporary"  parameterType="String">
		delete from personnel_chat_temporary where
		cid=#{cid}
	</delete>

    <resultMap id="PersonnelChatTemporarysBaseResultMap" type="com.communication.entity.PersonnelChatTemporary">
        <id column="cid" property="cId" jdbcType="VARCHAR"/>
        <id column="pgid" property="pgId" jdbcType="VARCHAR"/>
        <id column="personnel_id" property="personnelId" jdbcType="INTEGER"/>
        <id column="chat_data" property="chatData" jdbcType="VARCHAR"/>
        <id column="create_by" property="createBy" jdbcType="TIMESTAMP"/>
    </resultMap>



    <resultMap id="GroupIdDetailsBaseResultMap" type="com.communication.entity.PersonnelGroupDetails">
        <id column="pgdid" property="pgdId" jdbcType="VARCHAR"/>
        <id column="pgid" property="pgId" jdbcType="VARCHAR"/>
        <id column="personnel_id" property="personnelId" jdbcType="INTEGER"/>
        <id column="description" property="description" jdbcType="VARCHAR"/>
        <id column="create_by" property="createBy" jdbcType="TIMESTAMP"/>
    </resultMap>



    <resultMap id="GroupBaseResultMap" type="com.communication.entity.PersonnelGroup">
        <id column="pgid" property="pgId" jdbcType="VARCHAR"/>
        <id column="personnel_id" property="personnelId" jdbcType="INTEGER"/>
        <id column="pg_name" property="pgName" jdbcType="VARCHAR"/>
        <id column="description" property="description" jdbcType="VARCHAR"/>
        <id column="create_by" property="createBy" jdbcType="TIMESTAMP"/>
    </resultMap>
</mapper>


